<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" 
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" 
        crossorigin="anonymous" 
        referrerpolicy="no-referrer" />
    <link href= "/public/assets/styles.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://cdn.datatables.net/v/bs4/dt-1.13.4/datatables.min.css" rel="stylesheet"/>

    <title><%= title %></title>
</head>
<body>
    <nav class="navbar-one flex">
        <div class="left flex">
            <div class="email">
                <span><a href="/home">IT Assets</a></span>
            </div>
        </div>
        <div class="right flex">
            <div class="twitter">
                <a href="/add_naco_printers"><i class="fa-sharp fa-solid fa-plus"></i> Assign Asset</a>
                <a href="/">logout</a>
                </i>
            </div>
        </div>
    </nav>
    
    <nav class="navbar-second">
         <ul class="centered">
            <li><a href="/telephone">Telephones</a></li>
            <li><a href="/peripherals">Peripherals</a></li>
            <li><a href="/hdfd">Hard Drive FD</a></li>
            <li><a href="/apc">APC UPS</a></li>
            <li><a href="/servers">Servers</a></li>
            <li><a href="/switches_">Switches</a></li>
            <li><a href="/ap">Access points</a></li>
            <li><a href="/naco">NACO</a></li>
            <li><a href="/dssci">DSSCI</a></li>
        </ul>
    </nav>
    <nav class="navbar-third">
        <ul class="centered">
            <li><a href="/naco_projector">Projectors</a></li>
            <li><a href="/naco_printers">Printers</a></li>
            <li><a href="/naco_biometric">Biometrics</a></li>
            <li><a href="/naco_ap">Access Points</a></li>
        </ul>
    </nav>
